torch
torchaudio
einops
timm
pillow
transformers==4.46.1
accelerate
diffusers
huggingface_hub
sentencepiece
bitsandbytes
protobuf
decord
librosa
peft
numpy
parler-tts @ git+https://github.com/huggingface/parler-tts.git
soundfile
fastapi
uvicorn[standard]